---

driver:
  name: default

platforms:
  - name: molecule-<-- Planet -->-debian-12
    image: debian-12
  - name: molecule-<-- Planet -->-debian-13
    image: debian-13

provisioner:
  name: ansible
  inventory:
    group_vars:
      all:
        planet: <-- Planet -->
        token: <-- Token -->
  env:
    ANSIBLE_ROLES_PATH: ../../../../roles/
  connection_options:
    ansible_ssh_common_args: "-F molecule-ssh_config -o StrictHostKeychecking=no"

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - destroy
    - create
    - converge
    - verify
    - destroy
