
{{ hostname | lower }}
{{ datacenter_city | capitalize }}
{{ nonexistent_var | default(5) }}
{{ text | b64encode }}

{{ '192.0.2.48/24' | ipaddr('address') }}		# 192.0.2.48
{{ '192.0.2.48/24' | ipaddr('network') }}		# 192.0.2.0
{{ '192.0.2.48/24' | ipaddr('netmask') }}		# 255.255.255.0
