
# /etc/resolv.conf

{% for ip in nameservers %}
  nameserver {{ ip }}
{% endfor %}


{% for nameserver in nameservers if not nameserver.disabled %}
  nameserver {{ nameserver.ip }}
{% else %}
  nameserver 8.8.8.8
{% endfor %}
